.card{width:calc(25% - 1.5rem)}@media (max-width: 1199px){.card{width:calc(33.33% - 1.5rem)}}@media (max-width: 991px){.card{width:calc(50% - 1.5rem)}}@media (max-width: 767px){.card{width:100%;max-width:100%!important}}
